{erl_opts,
 [warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  debug_info]}.

{minimum_otp_vsn, "21"}.

{deps, []}.

{cover_enabled, true}.

{relx,
 [{release, {my_app, "0.0.1"}, [{runtime_tools, load}, kernel, stdlib, sasl, my_app]},
  {include_src, false},
  {check_for_undefined_functions, true},
  {src_tests, true},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}]}.

% {alias, [{test, [format, lint, hank, xref, dialyzer, eunit, ct, cover, edoc]}]}.

{alias, [{test, [{format, "--verify"}, lint, ct, cover]}]}.

{project_plugins, [rebar3_format, rebar3_lint]}.
